body {
    margin: 0;
    padding: 0;
    background: transparent !important;
}

/* Panel de Config: oculto por defecto */
#configPanel {
    display: none;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border: 3px solid yellow;
    background-color: white;
    padding: 20px;
    text-align: center;
    z-index: 9999;
}

#configPanel input,
#configPanel button {
    width: 90%;
    margin: 5px auto;
    display: block;
    padding: 8px;
}

/* Panel de Interacción: abajo derecha */
#npcInteractionPanel {
    display: none;
    position: absolute;
    bottom: 10px; right: 10px;
    width: 250px;
    border: 3px solid #444;
    background-color: #eee;
    padding: 10px;
    z-index: 9999;
}

#npcInteractionPanel button {
    margin-top: 5px;
    width: 100%;
    padding: 8px;
}
